{% extends 'main/base.html' %}

{% block title %}
    My Cart
{% endblock %}

{%block content%}
<form method="POST" action="#">
    {% csrf_token %}
    <h1>Your Cart</h1>
    <ul>
        {% for item in bl.book_item_set.all %}
            {% if item.cart_boolean == True %}
                <li>
                    <h3>{{item.booktitle}}</h3>
                    <button name='removefromcart' value='removefromcart'>Remove From Cart</button>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</form>
{%endblock%}